<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="CriptographyKey" value="Aut$!3" />
    <add key="LogPath" value="~/Public/Log/" />
    <add key="Re2017ApiUrl" value="http://2.235.241.7:8080/" />
  </appSettings>
  <system.web>
     <authentication mode="Forms">
      <forms loginUrl="Contents/Login.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="30720" executionTimeout="600" />
    <httpModules>
	<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
     
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="AiChatBotConn" connectionString="data source=TELMOR\test;initial catalog=prova;user id=sa;password=revihcra;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
   <add name="AiChatBotConn" connectionString="data source=TELMOR\test;initial catalog=AIChatbot;user id=sa;password=revihcra;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="AiChatBotConn" connectionString="data source=TELMOR\test;initial catalog=aa;user id=sa;password=revihcra;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="AiChatBotConn" connectionString="data source=WORKSTATION\SQLEXPRESS01;initial catalog=AIChatbot;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
   
    
  <rewrite>
      <rules>
        <rule name="Root_rule" stopProcessing="true">
          <match url="^/?$" />
          <action type="Rewrite" url="/Contents/Default.aspx" />
        </rule>
        <rule name="ToTrackManagement" stopProcessing="true">
          <match url="^TrackManagement.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/Contents/TrackManagement.aspx" redirectType="Permanent" />
        </rule>
        <rule name="ToTemplates" stopProcessing="true">
          <match url="^Templates.aspx$" ignoreCase="true"/>
          <action type="Redirect" url="/Contents/Templates.aspx" redirectType="Permanent"/>
        </rule>
        <rule name="ToUsers" stopProcessing="true">
          <match url="^Users.aspx$" ignoreCase="true"/>
          <action type="Redirect" url="/Contents/Users.aspx" redirectType="Permanent"/>
        </rule>
        <rule name="ToUserDetail" stopProcessing="true">
          <match url="^UserDetail.aspx$" ignoreCase="true"/>
          <action type="Redirect" url="/Contents/UserDetail.aspx" redirectType="Permanent"/>
        </rule>
    </rules>
  </rewrite>
  </system.webServer>
   <resizer>
	<plugins>
	<add name="DiskCache" />
	<add name="PrettyGifs" /></plugins>
	</resizer>
</configuration>