@model Re2017MVC.Models.Shared.LateralMenuViewModel
<div class="navbar-default sidebar" style="margin-top:74px" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-bank fa-fw"></i> Bank transactions<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="TrackManagement.aspx">Import/manage transaction</a>
                    </li>
                    <li>
                        <a href="Templates.aspx">Manage templates</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-home fa-fw"></i> Houses<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="Houses.aspx">Select</a>
                    </li>
                    <li>
                        <a href="HouseDetail.aspx">New</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-list-alt fa-fw"></i> Reports<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="Report1.aspx">Report 1</a>
                    </li>
                    <li>
                        <a href="Report2.aspx">Report 2</a>
                    </li>
                    <li>
                        <a href="Report3.aspx">Report 3</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Users<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="Users.aspx">Select</a>
                    </li>
                    <li>
                        <a href="UserDetail.aspx">New</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/Contents/Logout.aspx"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
               
               
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

